@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

:root {
    --mainColor: #0A3871;
    --grayColor: #495057;
    --darkGrayColor: #343A40;
}

/***************Mobile & Tablet******************/

body {
    background: #F3F5FC;
}

nav {
    padding-left: 3%;
    padding-top: 4%;
}

section {
    padding-left: 3%;
    padding-right: 3%;
    height: 30vh;
}
#text_container {
    height: 80vh;
}

#text {
    background-color: transparent;
    border-color: transparent;
    color: var(--mainColor);
    font-size: 32px;
    height: fit-content;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 6vh;
    outline: transparent;
    width: 95vw;
}

#text::placeholder {
    color: var(--mainColor);
    opacity: 1;
  }

#btns_container {
    margin-top: 7vh;
}

#info_container {
    display: flex;
}

#info_detail {
    color: var(--grayColor);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0em;
    margin-left: 8px;
    text-align: left;
}

input[type="button"] {
    border: 1px solid;
    border-color: var(--mainColor);
    border-radius: 24px;
    color: var(--mainColor);
    height: 8vh;
    margin-bottom: 2vh;
    width: 95vw;
}

#encrypt_btn {
    background-color: var(--mainColor);
    color: white;
    margin-top: 2vh;
}

#msg_enc_dec {
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-top: 4vh;
    padding: 32px;
}

#msg_enc_dec>img {
    display: none;
}

#msg_enc_dec>h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--darkGrayColor);
}

#msg_enc_dec>h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 3vh;
    text-align: center;
}

/**************Desktop****************/

@media (min-width: 1024px) {
    nav>a>img {
        height: 5vh;
        width: 5vw;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
    }
    
    section {
        padding-left: 15vw;
        padding-right: 0;
        height: fit-content;
    }
    
    #text_container {
        display: flex;
        flex-direction: column;
        height: 85vh;
        justify-content: space-between;
    }
    
    #text {
        font-size: 2rem;
    }
    
    #info_container {
        align-items: center;
    }
    
    #info_container>img {
        width: 1vw;
    }
    
    #info_detail {
        font-size: 1rem;
    }
    
    #buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
    }
    
    input[type="button"] {
        border-radius: 44px;
        width: 25vw;
        font-size: 1rem;
    }
    
    #encrypt_btn, #decrypt_btn {
        margin-top: 2vh;
        width: 47%;
    }
    
    #msg_enc_dec {
        position: absolute;
        right: 3vw;
        top: 3vh;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
        width: 25vw;
        border-radius: 45px;
    }

    #msg_enc_dec>img {
        display: inline;
    }
    
    #msg_enc_dec>h4 {
        font-size: 1.5rem;
    }
    
    #msg_enc_dec>h5 {
        font-size: 1rem;
    }
}

